@font-face {
	font-family: OpenSans_Semi;
	font-display: swap;
	src: url("../assets/fonts/OpenSans_SemiCondensed-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSans_Semi;
	font-display: swap;
	src: url("../assets/fonts/OpenSans_SemiCondensed-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../assets/fonts/OpenSans_Condensed-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../assets/fonts/Roboto_Condensed-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
